
<% if admin_signed_in? %>
    <h1>Dashboard Admin</h1>
    <%= link_to "Sair do Admin", destroy_client_session_path, method: :delete, data: { confirm: "Tem certeza que quer sair? "} %>
<% elsif client_signed_in? %>
    <h1>Dashboard Client</h1>
    <%= link_to "Sair da Dashboard", destroy_admin_session_path, method: :delete, data: { confirm: "Tem certeza que quer sair? "} %>
<% end %>

<p>Bem Vindo a Nossa Loja Dotz!!</p>

<%= link_to "Sou Admin", new_admin_session_path %> | 
<%= link_to "Sou Client", new_client_session_path %>

